
.video-description{
  border-bottom:1px solid #F2F4F4;
  border-top:1px solid #F2F4F4;
  margin-top:20px;
}

.workouts-area{
  margin-top: 80px;
  margin-bottom: 100px;
}

.video-icon img{
  width: 30px;
  margin-left: 20px;
}

.video-wrapper a {
  display: block;
  position: relative;
}

.video-img  {
  position:relative;
}

.video-img img {
  width: 100%;
}
 
.video-img {
  overflow: hidden;
}

.video-img img {
  transition: all 0.3s ease 0s;
  width: 100%;
}

.video-wrapper:hover .video-img img{
  opacity:.85;
  transform:scale(1.1)
}

.new-label {
  background: #6dcff6 none repeat scroll 0 0;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  left: 0;
  line-height: 25px;
  min-width: 60px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 18px;
  z-index: 100;
}



.video-content {
  padding-top: 8px;
}

.pro-title h3 a {
  color: #333;
  font-size: 30px;
  font-family:times;
  font-weight: 400;
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.pro-title h3 a:hover, .creater p:hover{
  color: #ffae00;
}

.tab-content > .tab-pane {
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.tab-content > .active {
  display: block;
  height: auto;
  opacity: 1;
  overflow: visible;
}

.column{
  border: 1px solid #ebebeb;
  padding: 0 15px;
}

h2.title-block{
  border-bottom: 1px solid #ebebeb;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  padding: 20px 0 10px;
  text-transform: uppercase;
}

h2.page-heading {
  color: #474747;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 0;
  overflow: hidden;
  padding: 0 0 17px;
  text-transform: uppercase;
}

.page-heading span.heading-counter {
  float: right;
  font-size: 13px;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
}

.selector-field label {
  color: #404048;
  font-family: "Raleway",sans-serif;
  font-size: 13px;
  font-weight: 800;
  line-height: 28px;
  margin-bottom: 0;
  margin-right: 7px;
}

.selector-field select {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ebebeb;
  box-shadow: none;
  color: #626262;
  font-size: 14px;
  height: 30px;
  padding-left: 10px;
  width: inherit;
}

.workouts-bar {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  clear: both;
  margin-bottom: 40px;
  overflow: hidden;
  padding: 15px 0;
}

.creater{
  margin-left: 30px;
}

.creater img{
  width: 60px;
  border-radius: 100%;
  border: 1px solid #ebebeb;
  margin-right: 20px;
}

.creater p{
  font-size: 17px;
  
}





