<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.GoodMapper">
    <select id="selectAll" resultType="com.POJO.GoodBean">
        select * from goods;
    </select>
    <select id="selectById" resultType="com.POJO.GoodBean">
        select * from goods where goodId=#{goodId};
    </select>
    <select id="goodSelectByTag" resultType="com.POJO.GoodBean">
        select * from goods where tag=#{tag};
    </select>
    <select id="selectByName" resultType="com.POJO.GoodBean">
        select * from goods where goodName=#{goodName};
    </select>
    <insert id="addGood"  keyProperty="goodId">
        insert into goods(goodName, price, introduction, image, monthlySales)
        VALUES (#{goodName},#{price},#{introduction},#{image},#{monthlySales});
    </insert>

</mapper>
